# Ignorar binários compilados
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
*.test
*.out

# Ignorar arquivos de dependências Go
vendor/

# Ignorar arquivos de ambiente
.env
.env.local
.env.*.local

# Ignorar dados do Docker
postgres_data/

# Ignorar logs
*.log

# Ignorar arquivos do IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos temporários
tmp/
temp/

# Ignorar arquivos do datalake de mock
datalake/

# ignorar SA do firebase
*-firebase-adminsdk-*.json

# ignorar terraform
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfvars
terraform.tfvars.*
!terraform.tfvars.example
*.tfstate
*.tfstate.backup

firebase-credentials.json
gcp-credentials.json

scripts/go.sum