name: Deploy Pipeline

on:
  push:
    branches: ["main", "dev", "staging"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    # Define o ambiente baseado na branch
    env:
      ENVIRONMENT: ${{ github.ref == 'refs/heads/main' && 'prod' || (github.ref == 'refs/heads/staging' && 'staging' || 'dev') }}

    steps:
      - uses: actions/checkout@v3

      - name: Autenticar Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}

      - name: Configurar Cloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - name: Configurar Docker para GCR
        run: gcloud auth configure-docker gcr.io

      - name: Build Docker
        run: |
          docker build -t gcr.io/${{ secrets.GCP_PROJECT_ID }}/app:${{ github.sha }} ./backend
          docker tag gcr.io/${{ secrets.GCP_PROJECT_ID }}/app:${{ github.sha }} gcr.io/${{ secrets.GCP_PROJECT_ID }}/app:latest

      - name: Push Docker
        run: |
          docker push gcr.io/${{ secrets.GCP_PROJECT_ID }}/app:${{ github.sha }}
          docker push gcr.io/${{ secrets.GCP_PROJECT_ID }}/app:latest

      - name: Deploy Cloud Run
        uses: google-github-actions/deploy-cloudrun@v1
        with:
          service: ${{ env.ENVIRONMENT == 'prod' && 'app-recomendacao' || format('app-recomendacao-{0}', env.ENVIRONMENT) }}
          image: gcr.io/${{ secrets.GCP_PROJECT_ID }}/app:${{ github.sha }}
          region: southamerica-east1
          env_vars: |
            GCP_PROJECT_ID=${{ secrets.GCP_PROJECT_ID }}

      - name: Verificar Deploy
        run: |
          SERVICE_NAME="app-recomendacao"
          if [ "$ENVIRONMENT" != "prod" ]; then
            SERVICE_NAME="${SERVICE_NAME}-${ENVIRONMENT}"
          fi

          SERVICE_URL=$(gcloud run services describe $SERVICE_NAME --region=southamerica-east1 --format='value(status.url)')
          echo "Service URL: $SERVICE_URL"
          echo "Environment: $ENVIRONMENT"
          curl -f $SERVICE_URL/api/v2/healthcheck || exit 1
