name: Provisionar Infraestrutura (Terraform)

on:
  workflow_dispatch: # Disparo manual
    inputs:
      action:
        description: 'Ação do Terraform (plan ou apply)'
        required: true
        default: 'plan'
        type: choice
        options:
        - plan
        - apply

jobs:
  terraform:
    name: Terraform
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Autenticar Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform -chdir=infra init

      - name: Terraform Plan
        if: inputs.action == 'plan'
        run: terraform -chdir=infra plan -var="gcp_project_id=${{ secrets.GCP_PROJECT }}" -var="db_password=${{ secrets.DB_PASSWORD }}"

      - name: Terraform Apply
        if: inputs.action == 'apply'
        run: terraform -chdir=infra apply -auto-approve -var="gcp_project_id=${{ secrets.GCP_PROJECT }}" -var="db_password=${{ secrets.DB_PASSWORD }}"